<!-- Footer -->
<footer class="bg-light text-dark pt-5">
  <div class="container">
    <div class="row">

      <!-- Logo & Info -->
      <div class="col-md-4 mb-4">
        <img
          src="/images/logo.png"
          alt="Logo"
          class="img-fluid mb-3"
          style="max-width:160px;"
        />
        <p>Công ty của bạn - Địa chỉ, thông tin liên hệ, mô tả ngắn...</p>
        <div class="d-flex gap-2">
          <a href="#"><img
              src="https://i.pinimg.com/736x/e7/c1/54/e7c15488d7a9ef341d79bbe19c5bac30.jpg"
              alt="Facebook"
              width="24"
            /></a>
          <a href="#"><img
              src="https://i.pinimg.com/736x/de/84/ec/de84ece92c36f184e873fa090c9e7624.jpg"
              alt="Instagram"
              width="24"
            /></a>
          <a href="#"><img
              src="https://i.pinimg.com/736x/52/53/b2/5253b2c0cdd366e39691dc00bb9357c5.jpg"
              alt="Twitter"
              width="24"
            /></a>
        </div>
      </div>

      <!-- Dịch vụ -->
      <div class="col-md-2 mb-4">
        <h5>DỊCH VỤ</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-dark text-decoration-none">Điều khoản sử
              dụng</a></li>
          <li><a href="#" class="text-dark text-decoration-none">Chính sách bảo
              mật</a></li>
          <li><a href="#" class="text-dark text-decoration-none">Giới thiệu công
              ty</a></li>
        </ul>
      </div>

      <!-- Hỗ trợ -->
      <div class="col-md-2 mb-4">
        <h5>HỖ TRỢ</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-dark text-decoration-none">Chính sách đổi
              trả</a></li>
          <li><a href="#" class="text-dark text-decoration-none">Chính sách vận
              chuyển</a></li>
          <li><a href="#" class="text-dark text-decoration-none">Chính sách bảo
              hành</a></li>
        </ul>
      </div>

      <!-- Tài khoản -->
      <div class="col-md-2 mb-4">
        <h5>TÀI KHOẢN CỦA TÔI</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-dark text-decoration-none">Đăng nhập / Tạo
              tài khoản</a></li>
          <li><a href="#" class="text-dark text-decoration-none">Chi tiết tài
              khoản</a></li>
          <li><a href="#" class="text-dark text-decoration-none">Lịch sử mua
              hàng</a></li>
        </ul>
      </div>

    </div>

    <div class="text-center py-3 border-top">
      <p class="mb-0">© 2025 Công ty của bạn. All rights reserved.</p>
    </div>
  </div>
</footer>